.delete-button {
  font-size: 14px;
  background-color: transparent;
  color: #ff0303;
  border-radius: 6;
  width: 100%;
  border: 2px solid #ff0303;
}

.delete-button:hover {
  background-color: #ff0303;
}

.button {
  font-size: 14px;

  background-color: transparent;
  color: #19a7ce;
  border-radius: 6;
  width: 100%;
  border: 2px solid #19a7ce;
}

.button:hover {
  background-color: #19a7ce;
}

.text-box-animation {
  transition-timing-function: linear;
  transition-timing-function: cubic-bezier(0, 0, 1, 1);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
